<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Recetario</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/simplex.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body >
	<div ng-controller="myCtrl"  >
		<header class="navbar">

			<ul class="nav nav-pills pull-right">
				<li data-toggle="pill" class="active pull-left"><a href="#materiaprima">Materias Primas</a></li>
				<li data-toggle="pill" class=" pull-left"><a href="#nuevareceta">Nueva Receta</a></li>
				<li data-toggle="pill" class=" pull-left"><a href="#recetario">Recetario</a></li>
			</ul>
		</header>

		<div class="tab-content" id="mainContainer">
			<!-- primer panel MAterias Primas-->
			<div id="materiaprima" class="tab-pane fade in active"  >
				<div class="panel panel-primary">
					

					<div class="panel-heading">
						<h3 class="panel-title">Materias Primas</h3>
					</div>
					<div class="panel-body">
						<form class="form-horizontal">
							<fieldset class="col-lg-4">
								<legend>Agrega un nuevo producto a la lista de materias primas</legend>

								<div class="form-group">

									<label  for="materia1" class="col-lg-3 control-label">Producto</label>

									<div class="col-lg-9">

										<input ng-model="materia1" type="text" class="form-control" id="materia" placeholder="Producto">

									</div>

								</div>

								<div class="form-group">

									<label for="cantidad1" class="col-lg-3 control-label">Cantidad</label>

									<div class="col-lg-9">
										<input ng-model="cantidad1" type="text" class="form-control" id="cantidad1" placeholder="Cantidad">
									</div>

								</div>

								<div class="form-group">

									<label for="medicion1" class="col-lg-3 control-label">Medicion</label>

									<div class="col-lg-9">
										<select name="medicion" id="medicion1" ng-options="med for med in meds" ng-model="medicion1">
											
										</select>
										
									</div>

								</div>

								<div class="form-group" ng-show="medicion1 == 'pza' ">

									<label for="pesopza" class="col-lg-4">Peso por pieza</label>

									<div class="col-lg-8">
										<input  ng-model='pesopza' type="text">
									</div>

								</div>		

								<div class="form-group">

									<label for="input" class="col-lg-3 control-label">Precio</label>

									<div class="col-lg-9">
										<input ng-model="precio1" type="text" class="form-control" id="precio1" placeholder="Precio">
									</div>

								</div>

								<div class="form-group">
									<div class="col-lg-9 col-lg-offset-3">
										<button id="agregar" type="submit" class="btn btn-primary">Agregar Producto</button>
									</div>
								</div>
							</fieldset>
						</form>
						<div class="col-lg-8">
							<h4>Estos son los ingredientes disponibles para crear tus recetas</h4>
				
							<table class="table table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th>Producto</th>
										<th>Cantidad</th>
										<th>Precio</th>
									</tr>
								</thead>
								<tbody ng-repeat="materia in materias" >
									<tr>
										<td>{{materia.id}}</td>
										<td>{{materia.materia}}</td>
										<td>{{materia.cantidad + " " + materia.medicion}}</td>
										<td>{{materia.precio | currency}}</td>
									</tr>
								</tbody ng-repeat-end >
								
							</table>
						</div>
					</div>
				</div>
				
			</div>

			<!-- segundo panel Nueva Receta-->
			<div id="nuevareceta" class="tab-pane fade in">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Nueva Receta</h3>
					</div>
					<div class="panel-body">
											
						<ul class="nav nav-tabs">
							<li data-toggle="tab" class="active pull-left"><a href="#receta">Crear Receta</a></li>
							<li data-toggle="tab" class=" pull-left"><a href="#base">Crear Receta Base</a></li>
						</ul>
						<div class="tab-content" id="secondContainer">
							<div id="receta" class="tab-pane fade in active">
								<form class="form-horizontal">
									<fieldset class="col-lg-4">
										<legend>Agrega un nuevo ingrediente a tu receta</legend>
	
										<div >
											<div class="form-group ">
												<label for="ingrediente" class="col-lg-3 control-label">Ingrediente</label>

												<div class="col-lg-9">

													<select ng-model="ingrediente" ng-options="materia.materia for materia in materias" name="Ingrediente" id="ingrediente">
														
													</select>

												</div>

											</div>

											<div class="form-group ">

												<label for="cantidad2" class="col-lg-3 control-label">Cantidad</label>

												<div class="col-lg-9">
													<input type="text" class="form-control" ng-model="cantidad2" id="cantidad2" placeholder="Cantidad">
												</div>

											</div>
												
											<div class="form-group">
												<div class="col-lg-8 col-lg-offset-4">
													<button id="agregarIngrediente" class="btn btn-primary">Agregar producto a la receta</button>
												</div>
											</div>
										</div>

									</fieldset>
								</form>

								<div class="col-lg-8">
									
									

											<div class="col-lg-12">

												<p>
													<input  ng-model="recetaNombre" type="text" class="form-control" id="Receta" placeholder="Dale un nombre a tu receta">
												</p>
												<h3 ng-if="recetaNombre != ''" >{{recetaNombre}}</h3>
											</div>

							
									
								
									<table class="table table-striped pull-left">
										<thead>
											<tr>
												<th>Id</th>
												<th>Producto</th>
												<th>Cantidad</th>
												<th>Precio</th>
											</tr>
										</thead>
										<tbody >
											
											<tr ng-repeat="ingredientes in receta.ingredientes">
												<td>{{ingredientes.id}}</td>
												<td>{{ingredientes.materia}}</td>
												<td>{{ingredientes.cantidad + " " + ingredientes.medicion}}</td>
												
												<td>{{ingredientes.precio | currency}}</td>
											</tr>
										</tbody>
										
									</table>
								<table class="table table-striped pull-left">
										<thead>
											<tr>
												<th>#</th>
												<th>Receta</th>
												<th>Cantidad</th>
												<th>Precio</th>
											</tr>
										</thead>
										<tbody >
											<tr>
												<td>{{receta.id}}</td>
												<td>{{receta.nombre}}</td>
												<td>{{receta.cantidad + " gr"}}</td>
												
												<td>{{receta.costo | currency}}</td>
											</tr>
										</tbody>
										
									</table>
								</div>
								<button class="pull-right btn btn-primary"id="agregarReceta">Agregar receta al recetario</button>
							</div>
							<div id="base" class="tab-pane fade">
								<form class="form-horizontal">
									<fieldset class="col-lg-4">
										<br>
										<legend>Agrega una receta base a tu recetario</legend>

										<div class="form-group">
										<!-- debe ser select con las opciones de la base de datos-->								
											<label for="ingrediente" class="col-lg-3 control-label">Ingrediente</label>

											<div class="col-lg-9">
												<select ng-model="ingrediente" ng-options="materia.materia for materia in materias" name="Ingrediente" id="ingrediente1">
													
												</select>

											</div>

										</div>

										<div class="form-group">

											<label for="cantidad2" class="col-lg-3 control-label">Cantidad</label>

											<div class="col-lg-9">
												<input type="text" class="form-control" id="cantidad2" placeholder="Cantidad">
											</div>

										</div>
										<!-- debe ser select con las opciones de la base de datos-->
										<div class="form-group">

											<label for="medicion2" class="col-lg-3 control-label">Medicion</label>

											<div class="col-lg-9">
												<select name="medicion2" id="medicion3" ng-options="med for med in meds" ng-model="medicion3">
														
													</select>
											</div>

										</div>

										<div class="form-group">
											<div class="col-lg-9 col-lg-offset-3">
												<button id="agregarIngreBase"  class="btn btn-primary">Agregar producto a la receta base</button>
											</div>
										</div>
									</fieldset>
								</form>
								<div class="col-lg-8">
									<h3>Receta Base</h3>
									<table class="table table-striped">
										<thead>
											<tr>
												<th>#</th>
												<th>Producto</th>
												<th>Cantidad</th>
												<th>Precio</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>harina</td>
												<td>1 kg</td>
												<td>$9.00</td>
											</tr>
										</tbody>
										<tbody>
											<tr>
												<td>2</td>
												<td>harina</td>
												<td>1 kg</td>
												<td>$9.00</td>
											</tr>
										</tbody>
										<tbody>
											<tr>
												<td>3</td>
												<td>harina</td>
												<td>1 kg</td>
												<td>$9.00</td>
											</tr>
										</tbody>
										<tbody>
											<tr>
												<td>4</td>
												<td>harina</td>
												<td>1 kg</td>
												<td>$9.00</td>
											</tr>
										</tbody>
										<tbody>
											<tr>
												<td>5</td>
												<td>harina</td>
												<td>1 kg</td>
												<td>$9.00</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<!-- tercer panel Recetario-->
			<div id="recetario" class="tab-pane fade">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Recetario</h3>
					</div>
					<div class="panel-body">
						<div class="col-lg-6">
									
							<h3>Recetas</h3>
							<table class="table table-striped pull-left">
								<thead>
									<tr>
										<th>#</th>
										<th>Receta</th>
										<th>Cantidad</th>
										<th>Precio</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="r in recetas">
										<td>{{r.id}}</td>
										<td>{{r.nombre}}</td>
										<td>{{r.cantidad + " gr"}}</td>
										<td>{{r.costo | currency}}</td>
									</tr ng-repeat-end>
								</tbody>
							</table>
								
								
						</div>
						<div class="col-lg-6">
									
							<h3>Recetas Base</h3>
							<table class="table table-striped pull-left">
								<thead>
									<tr>
										<th>#</th>
										<th>Receta</th>
										<th>Cantidad</th>
										<th>Precio</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>masa madre</td>
										<td>1 kg</td>
										<td>$9.00</td>
									</tr>
								</tbody>
								
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="js/app.js" ></script>
<script>
	$(function(){ 
	    $('.nav-pills a').on('click', function (e) {
	        e.preventDefault();
	        $(this).tab('show');

	    });  
	    $('.nav-tabs a').on('click', function (e) {
	        e.preventDefault();
	        $(this).tab('show');
	    }); 
	});
</script>
</html>